<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= asset_path 'cinema.jpg' %> );">
  <div class="container">
    <h1 class='text-white text-center'><%= header_text%> </h1>
    <p class='text-white text-center'><%= p_text %></p>
  </div>
</div>
