<%# For show page!!! %>
<div class="container border p-0 rounded d-flex">
  <%= image_tag movie.poster_url, style: "height: 300px" %>
  <div class='pt-2 ps-2'>
    <h4><%= movie.title.capitalize%></h4>
    <p class='mt-4'>⭐️<%= movie.rating.round(1) %></p>
    <p class='mt-4'> <%= movie.comment %></p>
  </div>
</div>
