<div class="container my-2">
  <h1>New movie bookmark</h1>
  <div class="form mt-1">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, prompt: "Select a movie" %>
      <%= f.input :comment, label: "Add a comment" %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
